{% from "macro.html" import render_field %}

{% extends "base.html" %}

{% block content%}

  <div class="row">
    <div class="col-lg-12 well">

      <div class="page-header">
          <h1>Survey on Personal Data</h1>
        <h2>Please answer the following questions</h2>
      </div>

      <div class="col-lg-10">
        <form method="POST" action="." class="form form-horizontal">
          {{ form.csrf_token }}
{#            {{ form.fields.__len__() }}#}
{#            {% for f in form._fields %}#}
{#            {{ render_field(f) }}#}
{#            {% endfor %}#}
          {{ render_field(form.has_data) }}
          {{ render_field(form.alt_email) }}
          {{ render_field(form.supply_media) }}
          {{ render_field(form.file_size_estimate)}}
          {{ render_field(form.file_size_final)}}
          {{ render_field(form.format_name)}}
          {{ render_field(form.use_constraints)}}
          {{ render_field(form.public_access_constraints)}}
          {{ render_field(form.process_status)}}
          {{ render_field(form.lineage)}}
          {{ render_field(form.experimental_design)}}
          {{ render_field(form.collection_generation_transformation_methods)}}
          {{ render_field(form.fieldwork_lab_instrumentation)}}
          {{ render_field(form.analytical_methods)}}
          {{ render_field(form.comments, class="form-control")}}


{#          {{ render_field(form.language, class="form-control")}}#}

          <div class="control-group">
            <label class="control-label"></label>
              <div class="controls">
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>

        </form>
      </div>

    </div>
  </div>

{% endblock %}