{% from "macro.html" import render_field %}

{% extends "base.html" %}

{% block additionalscripts %}
    <style>
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 10000;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    overflow: scroll;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
</style>


    <script>
        $(function(){
            $(":radio[value=N]").click(function(){
                var isVisible = $( ".further-fields" ).is( ":visible" );
                if(isVisible==true)
                    $('.further-fields').toggle();
                isVisible = $( ".further-fields0" ).is( ":visible" );
                if(isVisible==true)
                    $('.further-fields0').toggle();
            });

            $(":radio[value=Y]").click(function(){
                var isVisible = $( ".further-fields" ).is( ":visible" );
                if(isVisible==false)
                    $('.further-fields').toggle();
                isVisible = $( ".further-fields0" ).is( ":visible" );
                if(isVisible==false)
                    $('.further-fields0').toggle();
            });



            $(":radio[value=N1]").click(function(){
                var isVisible = $( ".further-fields-ispersonal" ).is( ":visible" );
                if(isVisible==true)
                    $('.further-fields-ispersonal').toggle();
                isVisible = $( ".further-fields-ispersonal2" ).is( ":visible" );
                if(isVisible==true)
                    $('.further-fields-ispersonal2').toggle();
            });

            $(":radio[value=Y1]").click(function(){
                var isVisible = $( ".further-fields-ispersonal" ).is( ":visible" );
                if(isVisible==false)
                    $('.further-fields-ispersonal').toggle();
                isVisible = $( ".further-fields-ispersonal2" ).is( ":visible" );
                if(isVisible==false)
                    $('.further-fields-ispersonal2').toggle();
            });


            $(":radio[value=me]").click(function() {
                var isVisible = $(".further-fields-mine").is(":visible");
                if (isVisible == false){
                    $('.further-fields-mine').toggle();
                }
                isVisible = $(".further-fields-mine2").is(":visible");
                if (isVisible == true){
                    $('.further-fields-mine2').toggle();
                }
            });

            $(":radio[value=other]").click(function(){
                var isVisible = $( ".further-fields-mine" ).is( ":visible" );
                if(isVisible==true) {
                    $('.further-fields-mine').toggle();
                }
                isVisible = $( ".further-fields-mine2" ).is( ":visible" );
                if(isVisible==false) {
                    $('.further-fields-mine2').toggle();
                }
            });


            $(":radio[value=admin]").click(function(){
                var isVisible = $( ".further-fields-admin" ).is( ":visible" );
                if(isVisible==false) {
                    $('.further-fields-admin').toggle();
                    $('.further-fields-research').toggle();
                }
                isVisible = $( ".further-fields-research2" ).is( ":visible" );
                if(isVisible==true){
                    $('.further-fields-research2').toggle();
                    $('.further-fields-research3').toggle();
                }
            });

            $(":radio[value=research]").click(function() {
                var isVisible = $(".further-fields-admin").is( ":visible" );
                if (isVisible == true){
                    $('.further-fields-admin').toggle();
                    $('.further-fields-research').toggle();
                }
                isVisible = $(".further-fields-research2").is( ":visible" );
                if (isVisible == false){
                    $('.further-fields-research2').toggle();
                    $('.further-fields-research3').toggle();
                }
            });
        });
    </script>
{% endblock %}

{% block content%}

    <div class="row">
        <div class="col-lg-12 well">

            <div class="page-header">
                <h1>Data Asset Inventory Survey</h1>
                <h4>Please answer the following questions to the best of your knowledge and understanding.</h4>
            </div>

            <br/>


            <div class="col-lg-10">
                <form method="POST" action="." class="form form-horizontal">

                    {{ form.csrf_token }}


                    <div class="card" style="overflow: visible">
                        <div class="card-header">Do you store data on SoGE IT infrastructure?</div>
                        <div class="card-body">
                            <div class="form-group">
{#                                <label class="control-label" for="has_data">Do you store data on SoGE IT infrastructure?</label><br>#}
                                <input id="has_data-0" name="has_data" type="radio" value="Y" checked> <label for="has_data-0">Yes</label>
                                <input id="has_data-1" name="has_data" type="radio" value="N"> <label for="has_data-1">No</label>

                                <a class="text-info popup" onclick="myPopupFunction('myPopup')">I don't know
                                    <span class="popuptext" id="myPopup">If you store data on SoGE infrastructure, you should be aware of it in one of the following locations: a mapped Unix drive, or a network Windows drive.</span>
                                </a>
                            </div>

                            <div class="further-fields0">
                                {{ render_field(form.alt_email) }}
                            </div>
                        </div>

                    </div>


                    <div class="further-fields">


{#                        {{ render_field(form.data_type) }}#}
                        <div class="card" style="overflow: visible">
                            <div class="card-header">What is the purpose of this data?</div>
                            <div class="card-body">

                                <div class="form-group" onclick="myFunction()">
{#                                    <label class="control-label" for="is_admin">What is the purpose of this data?</label><br>#}
                                    <input id="is_admin-0" name="is_admin" type="radio" value="admin" checked> <label for="is_admin-0">Administrative</label>
                                    <input id="is_admin-1" name="is_admin" type="radio" value="research"> <label for="is_admin-1">Research</label>
                                </div>


                                <div class="further-fields-admin">
                                    {{ render_field(form.admin_datatype) }}
                                </div>

                                <div class="further-fields-research" style="display:none">
                                    {{ render_field(form.research_datatype) }}


                                    {{ render_field(form.data_source) }}

                                    <div class="further-fields-mine2" style="display:none">
                                        {{ render_field(form.license_or_data_source) }}
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="card" style="overflow: visible">
                            <div class="card-header">Is this data personal in nature? <a class="text-info" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/key-definitions/what-is-personal-data/" target="_blank">Info.</a></div>
                            <div class="card-body">
                                <div class="form-group">
{#                                    <label class="control-label" for="is_data_personal">Is this data personal in nature? <a class="text-info" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/key-definitions/what-is-personal-data/" target="_blank">Info.</a>#}
{#                                    </label><br>#}
                                    <input id="is_data_personal-0" name="is_data_personal" type="radio" value="Y1"> <label for="is_data_personal-0">Yes</label>
                                    <input checked="" id="is_data_personal-1" name="is_data_personal" type="radio" value="N1"> <label for="is_data_personal-1">No</label>
                                    <a class="text-info popup" onclick="myPopupFunction('myPopup2')">I don't know
                                        <span class="popuptext" id="myPopup2">Personal data is information that relates to an identified or identifiable individual.
                                        </span>
                                    </a>
                                </div>
                                <div class="further-fields-ispersonal" style="display:none">
{#                                if research + personal + collected by me#}
                                    <div class="further-fields-research2" style="display:none">
                                        <div class="further-fields-mine">
                                                {{ render_field(form.curec_accepted) }}
                                                {{ render_field(form.curec_date) }}
                                        </div>
                                    </div>
                                    {{ render_field(form.num_records)}}
                                </div>
                            </div>
                        </div>


                        <br/>









                        <div id="no_curec_fields">
                            <div class="card further-fields-ispersonal2" style="display: none">
                                <div class="card-header">Please tell us about the nature of the personal data and how it is to be/has been processed</div>
                                <div class="card-body">
                                    {{ render_field(form.use_constraints)}}
                                    {{ render_field(form.public_access_constraints)}}
                                    {{ render_field(form.process_status)}}
                                    {{ render_field(form.lineage)}}

                                    <div class="further-fields-research3" style="display:none">
                                        {{ render_field(form.experimental_design)}}
                                    </div>
                                    {{ render_field(form.collection_generation_transformation_methods)}}
                                    {{ render_field(form.fieldwork_lab_instrumentation)}}
                                    {{ render_field(form.analytical_methods)}}
                                    {{ render_field(form.comments, class="form-control")}}

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">Please tell us a little about the data formats and size estimates</div>
                            <div class="card-body">
                                {{ render_field(form.supply_media) }}
                                {{ render_field(form.file_size_estimate)}}
                                {{ render_field(form.file_size_final)}}
                            </div>
                        </div>

                    </div>

        {#          {{ render_field(form.language, class="form-control")}}#}

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>

<script>
function myFunction() {
    var checkBox = document.getElementById("curec_accepted");
    var isAdmin = document.getElementsByName("is_admin")
    var text = document.getElementById("no_curec_fields");
{#    document.write(isAdmin[0].checked + isAdmin[1].checked);#}
    if (checkBox.checked == false | isAdmin[0].checked){
        text.style.display = "block";
    } else {
       text.style.display = "none";
    }
}
</script>


<script>
// When the user clicks on div, open the popup
function myPopupFunction(ID) {
    var popup = document.getElementById(ID);
    popup.classList.toggle("show");
}
</script>
{% endblock %}